<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{title.client.form}">Client Form</title>
</head>
<body>
<h1 th:text="#{title.client.form}">Client Form</h1>
<form method="post" th:action="@{/clients/save}" th:object="${client}">
  <input th:field="*{id}" type="hidden">
  <div>
    <label th:text="#{label.name}">Name: </label>
    <input th:field="*{name}" type="text">
  </div>
  <div>
    <label th:text="#{label.contact.phone}">Contact Phone: </label>
    <input th:field="*{contactPhone}" type="text">
  </div>
  <div>
    <label th:text="#{label.rental.wishes}">Rental Wishes: </label>
    <input th:field="*{rentalWishes}" type="text">
  </div>
  <div>
    <button th:text="#{label.save}" type="submit">Save</button>
  </div>
</form>
</body>
</html>
